.messageModal{
  position: absolute;
  top: 20%;
  right: 15%;
  bottom: 21%;
  left: 10%;
  min-height: 240px;
  width: 80%;
  background-color: white;
  border: solid 1px silver;
  border-radius: 6px;

}
